<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<header class="navbar">
    <div class="container">
        <a href="/" class="logo">My Blog</a>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        <ul class="nav-links">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/contact">Contact</a></li>
            <form class="d-flex" role="search" action="/" method="post">
                <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-warning text-success" type="submit">Search</button>
            
              </form>
              
        </ul>
        <a href="/createblog" class="btn-primary">+ Create Blog</a>
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </button>
            <ul class="dropdown-menu">
                <% if (!token) { %>
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                <% } else { %>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                <% } %>
                <li><a class="dropdown-item" href="/register">Sign up</a></li>
            </ul>
        </div>
    </div>
</header>
