<!-- views/blog-form.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit New Blog Post</title>
    <style>
        /* CSS for the navbar */
        .navbar {
            background-color: #e74c3c; /* Red color */
            padding: 10px;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar-brand {
            font-size: 1.5rem;
            margin-left: 20px;
        }
        .navbar-links {
            margin-right: 20px;
        }
        .navbar-links a {
            color: white;
            text-decoration: none;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">My Blog App</div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/home">My Blog</a>
        </div>
    </div>

    <h1>Edit Blog Post</h1>
    <form action="/editdata/<%-data._id%>" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="<%-data.title%>"><br><br>

        <label for="subtitle">Subtitle:</label><br>
        <input type="text" id="subtitle" name="subtitle" value="<%-data.subtitle%>"br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" value= rows="4" cols="50" required><%-data.description%></textarea><br><br>

        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image"><br><br>

        <button type="submit">Edit the Blog Post</button>
    </form>
</body>
</html>
