<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <%- include("../components/linkbootstrap.ejs") %> 
</head>
<body>
    <%- include("../components/navbar.ejs") %>
    <br><br>
    <h1>This is Guru Prakash Gupta</h1><br><br><br><br><br>
    <%- include("../components/footer.ejs") %>
    <%- include("../components/scriptbootstrap.ejs") %>  
</body>
</html>