<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create a New Blog Post</title>
    <link rel="stylesheet" href="/css/home.css">
    <%- include("../components/linkbootstrap.ejs") %> 
</head>
<body>
    <%- include("../components/navbar.ejs") %>
<br><br>
    <h1>Create a New Blog Post</h1>
    <div class="container">
    <form action="/createblog" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" class="form-control" aria-label="Title"  placeholder="Title" required><br><br>

        <label for="subtitle">Subtitle:</label><br>
        <input type="text" id="subtitle" name="subtitle" class="form-control" placeholder="Subtitle" aria-label="Subtitle"><br><br>

        <label for="description" class="form-label">Description:</label><br>
        <textarea id="description" class="form-control" name="description" rows="4" cols="50" style="white-space: wrap;"placeholder="Description"  required></textarea><br><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image"><br><br>

        <button type="submit" class="btn btn-warning btn-sm">Create Blog Post</button>
    </form>
</div><br><br><br><br>
    <%- include("../components/footer.ejs") %>
    <%- include("../components/scriptbootstrap.ejs") %> 
</body>
</html>
