<!-- views/blog-form.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Create a New Blog Post</title>
    <link rel="stylesheet" href="/css/home.css">
    <%- include("../components/linkbootstrap.ejs") %> 
</head>
<body>
    <%- include("../components/navbar.ejs") %>
<br><br>
    <h1>Create a New Blog Post</h1>
    <div class="container-fluid">
    <form action="/createblog" method="POST" enctype="multipart/form-data" >
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" class="form-label" required><br><br>

        <label for="subtitle">Subtitle:</label><br>
        <input type="text" id="subtitle" name="subtitle"><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

        <label for="image" >Image:</label><br>
        <input type="file" id="image" name="image" ><br><br>
   

        <button type="submit" class="btn btn btn-warning btn-sm">Create Blog Post</button>
    </form>
</div><br><br><br><br>
    <%- include("../components/footer.ejs") %>
    <%- include("../components/scriptbootstrap.ejs") %> 
</body>
</html>
